.canvas-container{
    display:flex;
    justify-content:center;
}

canvas{
    border:2px solid rgb(105, 20, 20);
    background: black;
}
.points{
    font-family:"Emulogic";
    color:black;
    font-size: 30px;
    position:absolute;
    padding-top:5px;
}
.display{
    position:absolute;
    padding-top:505px;
    font-size: 30px;
    font-family:"Emulogic";
}
@font-face{
    font-family:"Emulogic";
    src: url('font-family/emulogic-font/Emulogic-zrEw.ttf') format('truetype');
    font-style:normal;
    font-weight:normal;
}
